body{
    font-size: 1.2rem;
    font-family: sans-serif, 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

/* #aboutdiv {
    min-height: 60vh;
    height: min-content;
}

h1 {
    left: 2em;
    bottom: 0;
    margin-top: 0;
    
}

#fed{
    color: aliceblue;
}

#aboutsubdiv1,
#aboutsubdiv2 {
    min-height: 15em;
    max-height: 15em;
}

#aboutsubdiv1 {
    background-color: aqua;
}

#aboutsubdiv2 {
    background-color: crimson;
}

#profile {
    height: 16rem;
    width: 15rem;
    margin-left: 60%;
    margin-top: -13%;
} */

#aboutdiv {
    min-height: 60vh;
    height: min-content;
    position: relative;
}

h1 {
    position: absolute;
    left: 2em;
    bottom: 0;
    top: 6.5em;
    margin-top: 0;
}

#fed {
    color: aliceblue;
}

#homesubdiv1 {
    min-height: 15em;
    max-height: 15em;
    background-color: aqua;
}

#homesubdiv2 {
    min-height: 15em;
    max-height: 15em;
    background-color: crimson;
}

#profile {
    height: 16rem;
    width: 15rem;
    margin-left: 60%;
    margin-top: -13%;
}

